<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="offset-lg-1 offset-md-1 col-gl-10 col-md-10 col-sm-12">
      <h3>All Travel News</h3>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="blog-card" data-url="blog-single-page.html">
            <div class="post-img">
              <img src="assets/images/single_blog_imgs/winter-2.jpg" alt="blog post img">
            </div>
            <!-- /.post-img -->
            <div class="post-title">
              <a routerLink="/news-detail-1">Winter Season - Fogetic Beauty </a></div>
            <!-- /.post-title -->
            <div class="post-short-description">
            </div>
            <!-- /.post-short-description -->
            <div class="post-info">
              <div class="post-date">
                30 mint ago </div>
              <!-- /.post-date -->
              <div class="post-number-of-comments">
                <div class="comment-icon"></div>
                <!-- /.comment-icon -->
                <b>Md. Zahid Islam</b>
              </div>
              <!-- /.post-number-of-comments -->
            </div>
            <!-- /.post-info -->
          </div>
          <!-- /.blog-card -->
        </div>
        <!-- /.col-lg-4 col-md-4 col-sm-12 -->
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="blog-card" data-url="blog-single-page.html">
            <div class="post-img">
              <img src="assets/images/single_blog_imgs/winter-3.jpg" alt="blog post img">
            </div>
            <!-- /.post-img -->
            <div class="post-title">
              <a routerLink="/news-detail-2">Tourism season begins in December</a> </div>
            <!-- /.post-title -->
            <div class="post-short-description">
            </div>
            <!-- /.post-short-description -->
            <div class="post-info">
              <div class="post-date">
                1 day ago </div>
              <!-- /.post-date -->
              <div class="post-number-of-comments">
                <div class="comment-icon"></div>
                <!-- /.comment-icon -->
                <b>Md. Maksudur Rahman</b>
              </div>
              <!-- /.post-number-of-comments -->
            </div>
            <!-- /.post-info -->
          </div>
          <!-- /.blog-card -->
        </div>
        <!-- /.col-lg-4 col-md-4 col-sm-12 -->
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="blog-card" data-url="blog-single-page.html">
            <div class="post-img">
              <img src="assets/images/single_blog_imgs/winter-4.jpg" alt="blog post img">
            </div>
            <!-- /.post-img -->
            <div class="post-title">
              <a routerLink="/news-detail-1">Welcome the guest Birds </a></div>
            <!-- /.post-title -->
            <div class="post-short-description">
            </div>
            <!-- /.post-short-description -->
            <div class="post-info">
              <div class="post-date">
                6 hour ago </div>
              <!-- /.post-date -->
              <div class="post-number-of-comments">
                <div class="comment-icon"></div>
                <!-- /.comment-icon -->
                <b>Md. Zahid Islam</b>
              </div>
              <!-- /.post-number-of-comments -->
            </div>
            <!-- /.post-info -->
          </div>
          <!-- /.blog-card -->
        </div>
        <!-- /.col-lg-4 col-md-4 col-sm-12 -->
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="blog-card" data-url="blog-single-page.html">
            <div class="post-img">
              <img src="assets/images/single_blog_imgs/winter.jpg" alt="blog post img">
            </div>
            <!-- /.post-img -->
            <div class="post-title">
              <a routerLink="/news-detail-2">Tourist visiting different parts of Bangladesh</a></div>
            <!-- /.post-title -->
            <div class="post-short-description">
            </div>
            <!-- /.post-short-description -->
            <div class="post-info">
              <div class="post-date">
                5 days ago </div>
              <!-- /.post-date -->
              <div class="post-number-of-comments">
                <div class="comment-icon"></div>
                <!-- /.comment-icon -->
                <b>Abdus Salam</b>
              </div>
              <!-- /.post-number-of-comments -->
            </div>
            <!-- /.post-info -->
          </div>
          <!-- /.blog-card -->
        </div>
        <!-- /.col-lg-4 col-md-4 col-sm-12 -->
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="blog-card" data-url="blog-single-page.html">
            <div class="post-img">
              <img src="assets/images/single_blog_imgs/winter-3.jpg" alt="blog post img">
            </div>
            <!-- /.post-img -->
            <div class="post-title">
              <a routerLink="/news-detail-2">Tourism season begins in December</a></div>
            <!-- /.post-title -->
            <div class="post-short-description">
            </div>
            <!-- /.post-short-description -->
            <div class="post-info">
              <div class="post-date">
                1 day ago </div>
              <!-- /.post-date -->
              <div class="post-number-of-comments">
                <div class="comment-icon"></div>
                <!-- /.comment-icon -->
                <b>Md. Maksudur Rahman</b>
              </div>
              <!-- /.post-number-of-comments -->
            </div>
            <!-- /.post-info -->
          </div>
          <!-- /.blog-card -->
        </div>
        <!-- /.col-lg-4 col-md-4 col-sm-12 -->
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="blog-card" data-url="blog-single-page.html">
            <div class="post-img">
              <img src="assets/images/single_blog_imgs/winter-2.jpg" alt="blog post img">
            </div>
            <!-- /.post-img -->
            <div class="post-title">
              <a routerLink="/news-detail-1">Winter Season - Fogetic Beauty </a></div>
            <!-- /.post-title -->
            <div class="post-short-description">
            </div>
            <!-- /.post-short-description -->
            <div class="post-info">
              <div class="post-date">
                30 mint ago </div>
              <!-- /.post-date -->
              <div class="post-number-of-comments">
                <div class="comment-icon"></div>
                <!-- /.comment-icon -->
                <b>Md. Zahid Islam</b>
              </div>
              <!-- /.post-number-of-comments -->
            </div>
            <!-- /.post-info -->
          </div>
          <!-- /.blog-card -->
        </div>
        <!-- /.col-lg-4 col-md-4 col-sm-12 -->

        <!-- /.col-lg-4 col-md-4 col-sm-12 -->

        <!-- /.col-lg-4 col-md-4 col-sm-12 -->

        <!-- /.col-lg-4 col-md-4 col-sm-12 -->

        <!-- /.col-lg-4 col-md-4 col-sm-12 -->

        <!-- /.col-lg-4 col-md-4 col-sm-12 -->
      </div>
      <!-- /.row -->

      <!-- /.row -->
    </div>
    <!-- /.offset-lg-1 offset-md-1 col-gl-10 col-md-10 col-sm-12 -->
  </div>
  <!-- /.row -->

</div>