<div class="container">
  <div class="row" style="margin-top:50px">
    <h2>Culture, Religion &#038; Language</h2>
    <hr>
    <div class="dynamic-content">

      <h3><i>Religion</i></h3>
      <p>In the matter of faith and belief, the majority of Bangladeshi population is Muslims. The remaining population
        is consisted of Hindus, Buddhists, Christians, and others. Even though religion is one the major thing that
        constitutes human identity, in Bangladesh, there exists no boundary between the people of various religions. In
        happiness, sadness, or even celebration, we live here like the perpetual siblings of a common motherland. With
        some powerful Islamic architectural heritage, Muslims in Bangladesh are unique for their peaceful values and
        devotions.</p>
      <p>A century old traditional root and continuing faith is still keeping the Hindu culture and ritual in
        Bangladesh as unique as the neighboring country. The age old background of Buddhism in Bangladesh is clearly
        noticeable in many of our archeological wonders. But the ritualistic practice of Buddhism is still intact and
        as astonishing as many other countries. Even though, the era of Christianity in Bangladesh started during the
        late sixteenth to early seventeenth century, the union and togetherness of Bangladeshi Christian population is
        well-built; not to mention about the togetherness as one nation is unbroken.</p>
      <p>&nbsp;</p>
      <h3><i>Culture</i></h3>
      <p>Bangladesh has a rich and diverse culture which is reflected in the architecture, culture, literature, music,
        painting, clothing, discourse etc. Even in this era of rock ‘n’ roll, Bangladeshi culture is still being
        cherished and respected by the people of all over the world. Even the culture of the tribes is rich and diverse
        too. Clothing, one of the most important aspect of the culture of Bangladesh, defines the Bangladeshi people
        very skillfully. Saree — a finely embroidered cloth worn by the Bangladeshi woman and made by the skilled hands
        of Bangladeshi artisans — is now a global fashion trend. Festivals, held throughout the year with great zeal
        and zest, play a significant role in our culture. Some festivals are so intensely rooted in our cultural and
        social base that they are still being continued after centuries. Some festivals are based on social and
        political significances with marking our communal and national value, some are religious, and some are even
        observed seasonally. Bangladeshi people have so many reasons to cheer their life and soul. This is why this
        land is called the Land of Festivals.</p>
      <p>&nbsp;</p>
      <h3><i>Language</i></h3>
      <p>The official language of Bangladesh is Bangla (or, Bengali). Dated even before the birth of Christ, Bangla was
        widely spoken in this region, and now spoken by more than 200 million people all over the world. It has a
        various dialects with different accents, pronunciations and minor grammatical changes in different region in
        Bangladesh. Based on usage, Bangla is divided in two forms: sadhu bhasha (formal language) and cholito bhasha
        (common language).</p>
      <p>If opting for second language, most Bangladeshi people chose English as they have practical efficiency in
        English and its interactive usage in common situation. Apart from our official language, there are a
        significant number of tribal languages are spoken by the tribes of Bangladesh. The major and well-known tribal
        languages are Garo, Khashia, Magh, Manipuri, Munda, Chakma, Tipra etc.</p>

    </div>
  </div>
</div>