<div class="container">
  <div class="row" style="margin-top:50px">
    <h2>Geography and Climate</h2>




    <p>Bangladesh is a “Land of Stories”. Everything of this land tells a story; a story of Bangladeshi people and
      their heart. Not only the livelihood of Bangladeshi people is deeply rooted in this land, but also their life
      is deeply incorporated in this lands.</p>
    <div class="col-md-8">
      <p>This country has a
        very fertile alluvial soil which gives the
        country abundant crops every year. These lands are like our parents, our eternal guardian who take cares of
        us, nurture us with providing our primitive needs. With a grand and resourceful Bay of Bengal at its south,
        Bangladesh is called the land of rivers. As a riverine country, about 700 rivers including tributaries flow
        through the country in which the souls and livelihood of Bangladeshi people are</p>
    </div>
    <div class="col-md-4">
      <img class="size-medium wp-image-791 alignleft" src="assets/images/users/geo-1.jpg" alt="" width="300" height="240" />
    </div>

    <hr>

    <div class="col-md-8">
      <p>strongly
        connected. Like so many songs and poems — which are
        written specially to celebrate these rivers — the majestically curvy banks or the turbulent tide of
        Bangladeshi rivers give the people hope and an excitement to live the best out of it. Apart from these
        rivers, the country also have plenty of haors, baor, jheel, beel which strengthens our relation with more
        affection.</p>
    </div>
    <div class="col-md-4">
      <img class="size-medium wp-image-799 alignright" src="assets/images/users/geo-2.jpg" alt="" width="300" height="240" />
    </div>
    <hr>

    <div class="col-md-8">
      <p>Covered
        with
        diversified natural wonders and wildlife, this
        country sees a wide range of Hills in the Chittagong Hill Tracts in the southeast and Sylhet division in the
        northeast. What make these areas more interesting and exotic are the tribal people inhabited here for a long
        period of time.</p>
    </div>
    <div class="col-md-4">
      <img class="size-medium wp-image-801 alignleft" src="assets/images/users/geo-3.jpg" alt="" width="300" height="240" />
    </div>
    <hr>

    <div class="col-md-8">
      <p>The
        Sundarbans —
        home of the majestic Royal Bengal Tiger — are
        the largest littoral mangrove forest in the world as well as the most important and the biggest forest of
        Bangladesh. This land is the safest sanctuary for a diverse range of wildlife. The careless look of amazing
        deer, a rare glimpse or a sudden terrifying roar or even footprints of Royal Bengal Tiger on the swampy land
        of Sundarbans, hiking against the bushy and thick jungles of Sundarbans etc will completely satisfy any
        adventure seekers. Yes. Apart from some epic storytelling natural lands, the growing urban landscapes
        manifest the truly blend of modern and traditional setting of Bangladesh too. With rising architectural
        wonders and topnotch urban facility the country has its major urban areas in Dhaka, Chittagong, Khulna and
        Sylhet. Even in these urbanized areas, you will find some archeological heritages which will constantly
        remind us about our traditional and cultural root. If you have been mesmerized by the stories of our rural,
        hilly and watery land, then you should also be amazed by the urban wonders.</p>
    </div>
    <div class="col-md-4">
      <img class="size-medium wp-image-800 alignright" src="assets/images/users/geo-4.jpg" alt="" width="300" height="240" />
    </div>
  </div>
</div>