<div class="row" style="margin-top:50px;">
  <div class="offset-lg-1 offset-md-1 col-md-12 col-lg-12 col-sm-12">
    <h3 class="mb-4">National Anthem of Bangladesh</h3>
  </div>
</div>
<div class="row">
  <div class="offset-lg-1 offset-md-1 col-md-5">
    <h4>Bangla</h4>
    <hr>
    <h5><strong>আমার সোনার বাংলা <i></i></strong></h5>
    <div>
      <p>আমার সোনার বাংলা,<br />
        আমি তোমায় ভালবাসি।<br />
        চিরদিন তোমার আকাশ,<br />
        তোমার বাতাস<br />
        আমার প্রাণে বাজায় বাঁশি।</p>
      <p>ও মা,<br />
        ফাগুনে তোর আমের বনে<br />
        ঘ্রাণে পাগল করে<br />
        মরি হায়, হায় রে<br />
        ও মা,<br />
        অঘ্রানে তোর ভরা ক্ষেতে,<br />
        আমি কী দেখেছি মধুর হাসি।।</p>
      <p>কী শোভা, কী ছায়া গো,<br />
        কী স্নেহ, কী মায়া গো,<br />
        কী আঁচল বিছায়েছ<br />
        বটের মূলে,<br />
        নদীর কূলে কূলে।</p>
      <p>মা, তোর মুখের বাণী<br />
        আমার কানে লাগে<br />
        সুধার মতো-</p>
      <p>মা তোর বদন খানি মলিন হলে<br />
        আমি নয়ন<br />
        ও মা আমি নয়ন জলে ভাসি<br />
        সোনার বাংলা,<br />
        আমি তোমায় ভালবাসি।</p>
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="col-md-5">
    <h4>English(In Letter Translation)</h4>
    <hr>
    <h5><b>Amar sonar Bangla </b></h5>
    <div>
      <p>Amar sonar Bangla<br />
        Ami tomay bhalôbashi</p>
      <p>Chirôdin tomar akash,<br />
        Tomar batas,<br />
        Amar prane bajay bãshi.</p>
      <p>O ma<br />
        Fagune tor amer bône<br />
        Ghrane pagôl kôre,<br />
        Môri hay, hay re,<br />
        O ma,<br />
        Ôghrane tor bhôra khete<br />
        Ami ki dekhechhi môdhur hasi.</p>
      <p>Ki shobha, ki chhaya go,<br />
        Ki snehô, ki maya go,<br />
        Ki ãchôl bichhayechhô<br />
        Bôter mule,<br />
        Nôdir kule kule.</p>
      <p>Ma, tor mukher bani<br />
        Amar kane lage<br />
        Sudhar môto-</p>
      <p>Ma tor bôdôn khani môlin hôle<br />
        ami nôyôn<br />
        o ma ami nôyôn jôle bhasi<br />
        sonar Bangla,<br />
        ami tomay bhalôbashi!</p>
      <p>&nbsp;</p>

    </div>
  </div>
</div>


<div class="row">
  <div class="offset-lg-1 offset-md-1 col-md-5">
    <h4>Listen the Song</h4>
    <hr>
    <div>
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ywiu2FF9liA" width="300" height="150"></iframe>
    </div>
  </div>
  <div class="col-md-5">
    <h4>English(Literal Translation)</h4>
    <hr>
    <h5><b>My beloved Bengal</b></h5>
    <div>

      <p>My Bengal of Gold,<br />
        I love you.</p>
      <p>Forever your skies,<br />
        Your air set my heart in tune<br />
        As if it were a flute.</p>
      <p>In spring, O mother mine,<br />
        The fragrance from your mango groves<br />
        Makes me wild with joy,<br />
        Ah, what a thrill!<br />
        In autumn, O mother mine,<br />
        In the full blossomed paddy fields<br />
        I have seen spread all over sweet smiles.</p>
      <p>Ah, what beauty, what shades,<br />
        What an affection, and what tenderness!<br />
        What a quilt have you spread<br />
        At the feet of banyan trees<br />
        And along the banks of rivers!</p>
      <p>Oh mother mine, words from your lips<br />
        Are like nectar to my ears.<br />
        Ah, what a thrill!</p>
      <p>If sadness, O mother mine,<br />
        Casts a gloom on your face,<br />
        My eyes are filled with tears!<br />
        Golden Bengal,<br />
        I love you.</p>
    </div>
  </div>
</div>