<header>
  <nav class="navbar navbar-light navbar-expand-md py-md-2 fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="assets/images/click-logo.png" alt="logo" class="brand-logo" />
      </a>
      <!-- /.navbar-brand -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
        <!-- /.navbar-toggler-icon -->
      </button>
      <!-- /.navbar-toggler -->
      <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li
            class="nav-item  py-md-2"
            style="    border-right: 1px solid #cecaca;"
          >
            <a routerLink="/travelnewsfeed" class="nav-link ">Travel News</a>
            <!-- /.nav-link -->
          </li>
          <li
            class="nav-item  py-md-2"
            style="border-right: 1px solid #cecaca;"
          >
            <a href="index.html" class="nav-link ">Latest Offers</a>
            <!-- /.nav-link -->
          </li>
          <li class="nav-item dropdown py-md-2">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="true"
              >Bangladesh Pedia</a
            >
            <!-- /.nav-link -->
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/nationalAnthem"
                >National Anthem</a
              >
              <!-- /.dropdown-item -->
              <a class="dropdown-item" routerLink="/Bd-At-a-glance"
                >Bangladesh at a Glance</a
              >
              <!-- /.dropdown-item -->
              <a class="dropdown-item" routerLink="/history"
                >History of Bangladesh</a
              >
              <!-- /.dropdown-item -->
              <a class="dropdown-item" routerLink="/culture-religion-language"
                >Culture, Religion and Language</a
              >

              <a class="dropdown-item" routerLink="/geography"
                >Geograpy and Climate</a
              >

              <!-- /.dropdown-item -->
            </div>
            <!-- /.dropdown-menu -->
          </li>

          <!-- /.nav-item py-md-2 -->

          <!-- /.nav-item py-md-2 -->
        </ul>
        <!-- /.navbar-nav -->
      </div>
      <!-- /#navbarNav.navbar-collapse collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- /.navbar navbar-dark bg-primary navbar-expand-md py-md-2 -->
</header>
<!-- ::::::-[ END-OF PAGE MAIN HEADER ]-:::::: -->
