<header>
  <nav class="navbar navbar-light navbar-expand-md py-md-2 fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="assets/images/click-logo.png" alt="logo" class="brand-logo" />
      </a>
      <!-- /.navbar-brand -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
        <!-- /.navbar-toggler-icon -->
      </button>
      <!-- /.navbar-toggler -->
      <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
        <!-- /.navbar-nav -->
      </div>
      <!-- /#navbarNav.navbar-collapse collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- /.navbar navbar-dark bg-primary navbar-expand-md py-md-2 -->
</header>
<!-- ::::::-[ END-OF PAGE MAIN HEADER ]-:::::: -->
