<main style="padding-top:26px;">

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 offset-md-2 col-gl-8 col-md-8 col-sm-12">
                    <h2 class="text-center">Add a Resturant</h2>

                    <!-- /.mt-5 -->
                    <div class="mt-5">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-12">

                                <form #f="ngForm" (ngSubmit)="save(Resturant)" class="mt-3">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Resturant Name</label>
                                                <!-- /.col-form-label -->
                                                <input #resturantname="ngModel" [(ngModel)]="Resturant.resturantname"
                                                    name="resturantname" type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.col-lg-6 col-md-6 -->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="col-form-label">Food Type</label>
                                                <!-- /.col-form-label -->
                                                <input #foodtype="ngModel" [(ngModel)]="Resturant.foodtype" name="foodtype"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Address</label>
                                                <!-- /.col-form-label -->
                                                <input #address="ngModel" [(ngModel)]="Resturant.address" name="address"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Phone</label>
                                                <!-- /.col-form-label -->
                                                <input #phone="ngModel" [(ngModel)]="Resturant.phone" name="phone" type="text"
                                                    class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Email</label>
                                                <!-- /.col-form-label -->
                                                <input #email="ngModel" [(ngModel)]="Resturant.email" name="email" type="text"
                                                    class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Website</label>
                                                <!-- /.col-form-label -->
                                                <input #website="ngModel" [(ngModel)]="Resturant.website" name="website"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">District</label>
                                                <!-- /.col-form-label -->
                                                <input #district="ngModel" [(ngModel)]="Resturant.district" name="district"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Area</label>
                                                <!-- /.col-form-label -->
                                                <input #area="ngModel" [(ngModel)]="Resturant.area" name="area" type="text"
                                                    class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Cuisines</label>
                                                <!-- /.col-form-label -->
                                                <input #cuisine="ngModel" [(ngModel)]="Resturant.cuisine" name="cuisine"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Open Hours</label>
                                                <!-- /.col-form-label -->
                                                <input #openhr="ngModel" [(ngModel)]="Resturant.openhr" name="openhr"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Meals</label>
                                                <!-- /.col-form-label -->
                                                <input #meal="ngModel" [(ngModel)]="Resturant.meal" name="meal" type="text"
                                                    class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Resturant Features</label>
                                                <!-- /.col-form-label -->
                                                <input #feature="ngModel" [(ngModel)]="Resturant.feature" name="feature"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.col-lg-6 col-md-6 -->

                                        <!-- /.form-group -->

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="col-form-label">Good For</label>
                                                <!-- /.col-form-label -->
                                                <input #goodfor="ngModel" [(ngModel)]="Resturant.goodfor" name="goodfor"
                                                    type="text" class="form-control" placeholder="Enter your Address" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>

                                        <!-- /.form-group -->

                                        <!-- /.col-lg-6 col-md-6 -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="message-input" class="col-form-label">Description</label>
                                                <!-- /.col-form-label -->
                                                <textarea #description="ngModel" [(ngModel)]="Resturant.description"
                                                    name="description" class="form-control" placeholder="write Room Description"></textarea>
                                            </div>
                                            <!-- /.form-group -->

                                            <!-- /.btn btn-primary -->
                                        </div>

                                        <!-- /.col-lg-6 col-md-6 -->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="col-form-label">Food Rating</label>
                                                <!-- /.col-form-label -->
                                                <input #foodrating="ngModel" [(ngModel)]="Resturant.foodrating" name="foodrating"
                                                    type="text" class="form-control" placeholder="Enter your Address" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="col-form-label">Value Rating</label>
                                                <!-- /.col-form-label -->
                                                <input #valuerating="ngModel" [(ngModel)]="Resturant.valuerating" name="valuerating"
                                                    type="text" class="form-control" placeholder="Enter your Address" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="col-form-label">Service Rating</label>
                                                <!-- /.col-form-label -->
                                                <input #servicerating="ngModel" [(ngModel)]="Resturant.servicerating"
                                                    name="servicerating" type="text" class="form-control" placeholder="Enter your Address" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="col-form-label">Atmosphere Rating</label>
                                                <!-- /.col-form-label -->
                                                <input #atmrating="ngModel" [(ngModel)]="Resturant.atmrating" name="atmrating"
                                                    type="text" class="form-control" placeholder="Enter your Address" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>

                                        <!-- /.col-lg-6 col-md-6 -->

                                        <!-- /.col-lg-6 col-md-6 -->
                                        <!-- /.col-lg-6 col-md-6 -->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="col-form-label">Resturant Image link
                                                    -1</label>
                                                <!-- /.col-form-label -->
                                                <input #image1="ngModel" [(ngModel)]="Resturant.image1" name="image1"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="col-form-label">Resturant Image link
                                                    -2</label>
                                                <!-- /.col-form-label -->
                                                <input #image2="ngModel" [(ngModel)]="Resturant.image2" name="image2"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="col-form-label">Resturant Image link
                                                    -3</label>
                                                <!-- /.col-form-label -->
                                                <input #image3="ngModel" [(ngModel)]="Resturant.image3" name="image3"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="col-form-label">Resturant Image link
                                                    -4</label>
                                                <!-- /.col-form-label -->
                                                <input #image4="ngModel" [(ngModel)]="Resturant.image4" name="image4"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="col-form-label">Resturant Image link
                                                    -5</label>
                                                <!-- /.col-form-label -->
                                                <input #image5="ngModel" [(ngModel)]="Resturant.image5" name="image5"
                                                    type="text" class="form-control" placeholder="" />
                                                <!-- /.form-control -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>



                                        <!-- /.form-group -->

                                        <input class="mt-3 btn btn-primary" type="submit" value="Save" />

                                        <!-- /.col-12 -->
                                    </div>
                                    <!-- /.row -->
                                </form>
                            </div>
                            <!-- /.col-lg-9 col-md-9 col-sm-12 -->

                            <!-- /.col-lg-3 col-md-3 col-sm-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.mt-3 -->
                </div>
                <!-- /.offset-lg-2 offset-md-2 col-gl-8 col-md-8 col-sm-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->



    <!-- #login-modal .modal -->
    <!-- END-OF Login Modal -->

    <!-- START Register Modal -->

    <!-- #register-modal .modal -->
    <!-- END-OF Register Modal -->


    <!-- #reset-password-modal .modal -->
    <!-- END-OF Register Modal -->

</main>