<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="offset-lg-1 offset-md-1 col-md-10 col-lg-10 col-sm-12">
      <h3 class="mb-4">Tourism Season and Foregin Tourists</h3>
      <h5><b>Abdus Salam</b></h5>
      <!-- /.mb-4 -->
      <p>Bangladesh is a country of different religions and different cultured people. Different area’s people have
        their own traditions. Basically winter is a season that Bangladeshi people celebrate their special festivals.
        Bangladeshi villages has some speciality based on different seasons. Particularly in winter time. I wanted to
        see the beauty of a village in winter. Wanted to explore how it looks like and how people celebrate this
        season. Generally, villages are always quite different than urban life but particularly in winter you can see
        something really special that you won't get in your city or cosmopolitan area. However, it was 3 days trip over
        there. Have seen sunrise view, tried to woke up in the early and had wonderful walk through the foggy morning,
        enjoyed morning dew over the green grasses, spent beautiful time sitting beside the misty river & ponds. Not
        only that, meeting people and spending time with them was also interesting. Most importantly, eat different
        kinds of seasonal and traditional winter foods what we call "pitha", that was awesome. And additional thing was
        their affection and hospitality. The way they behave, its not possible to think these people are not known to
        you, If you are a stranger even.</p>

      <div class="row mt-4 mb-4">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="assets/images/single_blog_imgs/winter.jpg" alt="blog image" class="img-fluid">
          <!-- /.img-fluid -->
        </div>
        <!-- /.col-lg-6 col-md-6 col-sm-12 -->
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="assets/images/single_blog_imgs/winter-3.jpg" alt="blog image" class="img-fluid">
          <!-- /.img-fluid -->
        </div>
        <!-- /.col-lg-6 col-md-6 col-sm-12 -->
      </div>
      <!-- /.row -->
      <p>Bangladesh becomes the destination for hundreds of bird species every winter. Birds from the remotest corners
        of the world such as Siberia, Mongolia, and the Tibetan plateau come to Bangladesh to enjoy the country's
        temperate winter and to feed from the bounty of fish in the shallow rivers and canals. Many of these migratory
        birds are very rare and critically endangered due to the alarming rate of habitat destruction and poaching in
        Bangladesh. Renowned ornithologist Enam Ul Haque talks with the Star Weekend on the conservation of migratory
        birds.</p>
      <p>Around 300 bird species migrate to Bangladesh every winter. Many of these birds are actually born here during
        the winter months. For example, Pallas's Fish Eagle breeds in Bangladesh, leave the country in spring and come
        back in the beginning of every winter. So, most of these birds are not actually “guest birds” rather they
        originate from this land. Bangladesh's forests and wetlands become their home and an indispensable source of
        food from October till the beginning of March.</p>

    </div>
    <!-- /.offset-lg-1 offset-md-1 col-md-10 col-lg-10 col-sm-12 -->
  </div>
  <!-- /.row -->
</div>
